<div class="container">
    <p class="pull-left">
        <i class="fa fa-copyright" aria-hidden="true"></i> Amine MADDAH 2016
    </p>

    <p class="pull-right">
        développé sous Symfony
    </p>
</div>